<br/>
<div class="container">
<div class="row">
<div class="my_nav">
<ul class="nav nav-tabs">
  <li><%= link_to root_path, remote: true  do %>
    <i class="fa fa-home fa-2x" style="color: green;"></i>
  <% end %>
  </li>

  <li class='active'><%= link_to  project_path(@project) do %>
    <i class="fa fa-bars fa-2x" style="color: #008080;"  ></i>
  <% end %>
  </li>

  <li><%= link_to project_boards_path(@project), remote: true do %>
    <i class="fa fa-folder fa-2x" style="color: #20B2AA;"></i>
  <% end %>
  </li>
  <li><%= link_to  project_events_path(@project), remote: true do %>
    <i class="fa fa-calendar fa-2x" ></i>
  <% end %>
  </li>
  <li><%= link_to team_project_path(@project), remote: true do %>
    <i class="fa fa-users fa-2x"  style="color: green;"></i>
  <% end %>
  </li>
  <li><%= link_to project_notifications_path(@project), remote: true  do %>
    <i class="fa fa-exclamation-circle fa-2x"  style="color: orange;"></i>
    <% end %>
  </li>
</ul>
</div>


<div class="show_this">
<div class="row">
<% if @project.users.include? current_user || current_user == @project.owner %>
<div class="pull-right " style="margin-top: 10px">
<%= render partial: 'projects/invite_user'%>
</div>
<% end %>
</div>


<div class="row">
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
</div>
<% if current_user == @project.owner %>
<%= link_to  edit_project_path(@project) do  %>
<i class="fa fa-pencil-square-o fa-lg" style="color: green;"></i>
<% end %>
<% end %>
</div>


</div>
<br>
