<div class="container">
<div class="col-md-8">
<h2 class="text-center"><%= @project.name %></h2>
</div>
<% if @project.users.include? current_user || current_user == @project.owner %>

<div class="col-md-4" style="margin-top: 10px">
<%= render partial: 'projects/invite_user'%>
</div>
<% end %>
</div>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Make public:</strong>
  <%= @project.make_public %>
</p>



<%= link_to 'New Board', new_project_board_path(@project)%>

<h3>Boards</h3>
<div class="row">
<% @project.boards.each do |b| %>
	<div class="col-md-3">
	<h4><%=link_to b.name , project_board_path(@project, b) %></h4>
	<%= b.description %>
	</div>
<% end %>
</div>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
