<div class="container">
<div class="row">
<div class="my_nav">
<ul class="nav nav-tabs">
  <li><%= link_to 'Home', root_path %></li>
  <li class='active'><%= link_to "Project", project_path(@project)%></li>
  <li><%= link_to "Boards", project_boards_path(@project), remote: true%></li>
  <li><%= link_to "Events", project_events_path(@project), remote: true%></li>
</ul>
</div>


<div class="show_this">
<div class="row">
<% if @project.users.include? current_user || current_user == @project.owner %>
<div class="pull-right " style="margin-top: 10px">
<%= render partial: 'projects/invite_user'%>
</div>
<% end %>
</div>


<div class="row">
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
</div>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>


</div>
<br>
