 <ol class="breadcrumb">
 	<li><%= link_to 'Projects', projects_path %></li>
    <li >
      <%= link_to @project.name, project_path(@project) %>
    </li>
    <li class="active"><%= link_to @board.name, project_board_path(@board.project,@board)%></li>
  </ol>
<div class="container">
<div class="description">
<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= markdownify @board.description %>
</p>
</div>
<%= link_to 'Edit', edit_project_board_path(@board.project, @board) %> |
<%= link_to 'Back', project_path(@board.project) %>


<br>
<br>
<br>
<br>




<br>
<br>
<br>
<br>


<div class="row">
<div class="col-md-8 col-md-offset-2">
<div class="comment">
<%= render partial: 'comments/comment' %>
</div>
<br/>
<div class='comment_form'>
<%= render partial: 'comments/form' %>
</div>
</div>
</div>
</div>
